@use "./../../../../public/colors.scss";
section {
  width: 100%;
  margin: auto;
}
.container-player {
  &:nth-child(1) {
    text-align: start;
  }
  &:nth-child(2) {
    text-align: end;
  }
}
.container-heart {
  border-bottom: 1px solid colors.$accent-2;
}
.player-mark {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 0 5px;
  &.activo {
    background-color: colors.$accent-1;
    border-radius: 50%;
  }
}
p {
  margin: 0;
}
.shift{
    font-size: x-large;
    text-align: center;
}
