<div id="container" class="flex-column">
  <div id="botons-container" class="flex-apart">
    <div id="d-pad-container">
      <div></div>
      <div></div>
    </div>
    <div id="x-o-container">
      <div id="x-o-border-container" class="flex-apart">
        <div class="round-boton"><span>X</span></div>
        <div class="round-boton"><span>O</span></div>
      </div>
    </div>
  </div>
  <div id="botons-start-container">
    <div class="large-boton"><span>SELECT</span></div>
    <div class="large-boton"><span>START</span></div>
  </div>
  <div id="talking-container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
